.CellContentWin{
    color: #e22e17;

}

.XOstyle{
  font-size: 40px;
}



.startButtonContent{
  color: #150a1e;
  font-size: 12;
}

.Cell {
  background-size: 100%;
  background-image: linear-gradient(135deg,#ae74fa,#0ae3eb);
  font-size: 20px;
  display: inline-block;
  box-shadow: inset 0 1px 1px rgba(12, 1, 109, 0.8), inset 0 -1px 0px rgba(63, 59, 113, 0.2), 0 9px 16px 0 rgba(0, 0, 0, 0.3), 0 4px 3px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px #150a1e;
  text-align: center;
  border: 1px solid hsla(0,0%,100%,.5);
  cursor: pointer;
  position: relative;
  z-index: 100;
}
  
.Cell:before {
  background-image: linear-gradient(160deg,#1cd5ee,#190cd1);
  content: '';
  height: 100%;
  position: absolute;
  top: 0; 
  left: 0;
  opacity: 0;
  width: 100%;
  z-index: -100;
  transition: opacity .3s;
}
  
.Cell:hover:before {
  opacity: 1;
}
.Cell {
    float: left;
    width: 76px;
    height: 76px;
    text-decoration: none;
    color: rgb(7, 12, 29);
    text-align: center;
    line-height: 1px;
  }
 


.playing-board{
    width: 243px;
    height: 243px;
    margin-left: auto;
    margin-right: auto;
}
.reset{
    height: 20px;
    float:left;
  margin-left: auto;
    margin-right: auto;
}
.current-turn{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.startButton {
  background-size: 100%;
  background-image: linear-gradient(135deg,#00ffd5,#0ae3eb);
  font-size: 10px;
  font-weight: 400;
  box-shadow: inset 0 1px 1px rgba(12, 1, 109, 0.8), inset 0 -1px 0px rgba(63, 59, 113, 0.2), 0 9px 16px 0 rgba(0, 0, 0, 0.3), 0 4px 3px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px #150a1e;
  cursor: pointer;
  position: relative;
  z-index: 100;
}
  
.startButton:before {
  background-image: linear-gradient(160deg,#08fada,#041cf5);
  box-shadow: inset 0 1px 1px rgba(12, 1, 109, 0.8), inset 0 -1px 0px rgba(63, 59, 113, 0.2), 0 9px 16px 0 rgba(0, 0, 0, 0.3), 0 4px 3px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px #150a1e;
  content: '';
  height: 100%;
  position: absolute;
  top: 0; 
  left: 0;
  opacity: 0;
  width: 100%;
  z-index: -100;
  transition: opacity .3s;
}
  
.startButton:hover:before {
  opacity: 1;
}
.startButton {
    width: 80px;
    height: 20px;
  }
.buttonPlusResults{
  width: 243px;
  
  margin-left: auto;
  margin-right: auto;
}
.results{
  float:left;
  width: 163px;
  text-align: center;
}