
.rules{
    font-family:gabriola;
    width: 40%;
    text-align: center;
    margin-left:15%;
}

.rules1{
    padding-left: 3%;
    font-family:gabriola;
    width: 40%;
    text-align: left;
    
    margin-left:15%;
}
